body {
    font-family: sans-serif;
    background: #1F1C21;
    overscroll-behavior: contain;
    overflow: hidden;
    touch-action: none;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.centered {
    text-align: center;
}


.heading {
    color: white;
    font-size: 0.75em;
    font-weight: bold;
}

.btn {
    text-align: center;
    color: gray;
    background: white;
    border: black solid 2px;
    border-radius: 8px;
    padding: 8px;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
}

#console {
    position: absolute;
    z-index: 10;
    color: black;
}

#role_detail {
    position: absolute;
    width: 100%;
}

#hide_ui {
    color: lightgray;
    background-color: darkred;
    position: absolute;
    top: 3px;
    right: 3px;
}

#hide_ui:hover {
    background-color: red;
}


.flex_btn {
    flex: 1;
    display: flex;
    padding: 10px 20px;
    margin-top: 7px;
    margin-bottom: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

.btn:hover {
    background-color: #f5f9d0;
    color: black;
}


.color1 {
    background-color: #5b2d2d;
    color: rgb(219, 193, 198);
    border-color: rgb(219, 193, 198)
}

.color2 {
    background-color: rgb(114, 133, 87);
    color: black;
}

.color3 {
    background-color: rgb(59, 52, 123);
    color: rgb(229, 229, 185);
    border-color: rgb(229, 229, 185)
}

.color4 {
    background-color: rgb(77, 77, 77);
    color: white;
}

.interface_directions {
    text-align: center;
    font-size: 1.2em;
    color: GRAY;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.4em;
}

.warning {
    color: red;
}


#interface {
    position: fixed;
    width: 100%;
    min-height: 5em;
    background: rgb(52, 52, 52);
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
    border-top: 1px solid #999;
}

#interface_directions {
    text-align: center;
    width: 100%;
    font-size: 2vw;
    display: inline-block;
}

#trigger_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 5em;
    box-sizing: border-box;
    min-height: 5em;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    margin: 0px;
}


#gamepad_wrapper {
    width: 100%;
    height: 100%;
    z-index: 11;
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
}

.gamepad_container {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 100%;
    min-height: 170px;
    max-width: 240px;

}

#dpad_container {
    display: flex;
    margin-bottom: 20px;
    max-width: 200px;
}

#ab_container {
    min-width: 120px;
    max-width: 280px;
}


.gamepad_button {
    width: 21vw;
    height: 21vw;
    max-width: 105px;
    max-height: 105px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.gamepad_button_label {
    position: absolute;
    bottom: calc(-3vw - 5px);
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(2.18vw + 2px);
    text-align: center;
    color: white;
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
}

#gamepad_button_a .gamepad_button_label {
    white-space: wrap;
    text-align: bottom;
    top: 100%;
    margin-top: 5px;
    bottom: 0px;
}

.gamepad_button_letter {
    font-size: calc(5vw + 20px);
    text-align: center;
    line-height: 1vw;
    color: black;
    font-weight: bold;
}

#gamepad_button_a {
    top: -15%;
    right: 5%;
}

#gamepad_button_b {
    bottom: 8%;
    left: 10%;
}

.dpad {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 120px;
    min-height: 200px;
}

.dpad_button {
    display: block;
    position: absolute;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 33.3%;
    height: 36%;
    line-height: 40%;
    color: #fff;
    background: white;
    text-align: center;
    z-index: 2;
}

.dpad_button:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 5px;
    border-style: solid;
    transition: all 0.25s;
}

.dpad_button.up {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 17% 17% 50% 50%;
}

.dpad_button.up .extra_rollover {
    display: block;
    width: 250%;
    height: 120%;
    margin-left: -75%;
    display: absolute;
    clip-path: polygon(-7% 0, 100% 0, 70% 100%, 30% 100%);
}

.dpad_button.down .extra_rollover {
    display: block;
    width: 250%;
    height: 120%;
    margin-left: -75%;
    margin-top: -10%;
    display: absolute;
    clip-path: polygon(3% 0, 65% 0, 115% 100%, -15% 100%);
}

.dpad_button.right .extra_rollover {
    display: block;
    width: 120%;
    height: 250%;
    margin-top: -90%;
    margin-left: -15%;
    clip-path: polygon(75% 0, 75% 100%, 0 65%, 0 45%);
    /* Define left-facing trapezoid points */
}

.dpad_button.left .extra_rollover {
    display: block;
    width: 120%;
    height: 250%;
    margin-top: -90%;
    margin-left: -15%;
    clip-path: polygon(25% 0, 25% 100%, 100% 65%, 100% 45%);
    /* Define right-facing trapezoid points */
}


.dpad_button.up_right {
    background: transparent;
    right: 10px;
    top: 10px;
    border: none;
    height: 35%;
    width: 35%;
    z-index: 0;
    text-decoration: none;
}

.dpad_button.up_right:before {
    border: none;
}


.dpad_button.up:before {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 0 13px 19px 13px;
    border-color: transparent transparent black transparent;
}

.dpad_button.up:after {
    left: 0;
    top: 0;
    transform: translate(-100%, 0);
    border-top-left-radius: 50%;
    pointer-events: none;
}

.dpad_button.right {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    border-radius: 50% 17% 17% 50%;
}

.dpad_button.right:before {
    right: 40%;
    top: 50%;
    transform: translate(50%, -50%);
    border-width: 13px 0 13px 19px;
    border-color: transparent transparent transparent black;
}

.dpad_button.right:after {
    right: 0;
    top: 0;
    transform: translate(0, -100%);
    border-top-right-radius: 50%;
    pointer-events: none;
    width: 78%;
    height: 102%;
}

.dpad_button.down {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50% 50% 17% 17%;
}

.dpad_button.down:before {
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-width: 19px 13px 0px 13px;
    border-color: black transparent transparent transparent;
}

.dpad_button.down:after {
    right: 0;
    bottom: 0;
    transform: translate(100%, 0);
    border-bottom-right-radius: 50%;
    pointer-events: none;
}

.dpad_button.left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-radius: 17% 50% 50% 17%;
}

.dpad_button.left:before {
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-width: 13px 19px 13px 0;
    border-color: transparent black transparent transparent;
}

.dpad_button.left:after {
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
    border-bottom-left-radius: 50%;
    pointer-events: none;
}



.dpad @media (max-width: 700px) {
    .gamepad_button_label {
        font-size: 11px;
    }
}


@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(-12deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(12deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-12deg);
    }
}

#instruction_image_container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    /* 30% of the viewport width */
    z-index: 9999;
    /* Ensures it is above everything */
    pointer-events: none;
    /* Prevents the image from being clickable */
    animation: rotate 5s infinite ease-in-out;
}

#instruction_image {
    width: 100%;
    /* Ensure the image takes up the full width of the div */
    height: auto;
    /* Maintain the aspect ratio */
}